.results {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: -2px -2px 25px 19px rgba(0,128,128,0.30);
}

th {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

td {
    width: 200px;
    height: 70px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: teal;
}

td:hover {
  color: white;
}

tr:hover {
  background-color: teal;
  transition: 1s;
  color: white;
}

img {
    width: 50px;
    height: 50px;
}
