.error {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.error > h3 {
  color: red;
}

.error-msg {
  padding: 10px;
  margin: 10px;
  background-color: rgba(0, 128, 128, 0.767);
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
