.candidate {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  width: 700px;
  font-family: Roboto;
  justify-content: space-around;
}

.candidate-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-right: 20px;
  cursor: pointer;
}

.candidate-item:hover {
  color: teal;
}

.candidate-item > img {
  height: 40px;
  width: 40px;
}

.candidate > button {
  background-color: white;
  border: 0.5px solid blue;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.candidates > h4 {
  font-size: 14pt;
  margin-bottom: 12px;
}

.candidates > button {
  color: teal;
  font-weight: bold;
  background-color: transparent;
  border-radius: 30px;
}