.header {
  position: sticky;
  top: 0; 
  z-index: 100;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 12px;
  font-size: 20pt;
  color: teal;
  width: 100%;
}

.header-head {
  display: flex;
  flex-direction: row;
}

.header-head > h3 {
  flex: 10;
}

.header-head > button {
  flex: 1;
  font-size: 18px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-head > button:hover {
  color: teal;
  transition: 1s;
}
