.footer {
  position: sticky;
  bottom: 0;
  z-index: 100;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 12px;
  color: teal;
  font-size: 16pt;
  width: 100%;
}
